<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	{{ form_start(form) }}
		{{ form_row(form.nombre) }}
		{{ form_row(form.apellido) }}
		<button type="submit">Guardar</button>
	{{ form_end(form) }}
</body>
</html>